services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    # Override command to remove reload flag for production
    command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000" ]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    depends_on:
      - backend
